.game-board-cell {
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(86 86 86);
  background-image: url("../../assets/images/t8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  flex: 1;
  height: 100%;
  position: relative;
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.03);
  }
}
