.game-cell {
  // width: 97px;
  // height: 98px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__flare {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg); // Наклон
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear; // Время и тип анимации можно менять

    &.active {
      display: block;
    }
  }
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
